header {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 70%;
    background-image: url(../../images/bg-curvy-mobile.svg), linear-gradient(to bottom, var(--header--email-bg) 0 76%, var(--main-bg) 76% 100%);
}