.intro-img {
    padding: 20px 0;
    display: block;
    width: 80%;
    margin: auto;
    max-width: 440px;
}

.intro-title {
    font-size: 1.85rem;
    text-align: center;
    line-height: 2.75rem;
    padding-bottom: 15px;
    max-width: 550px;
    margin: auto;
}

.intro-description {
    margin: auto;
    text-align: center;
    width: 80%;
    padding-bottom: 30px;
    max-width: 440px;
}

.intro-btn {
    width: 65%;
    max-width: 245px;
}