.contact {
    margin-bottom: 70px;
}

.contact-container {
    display: grid;
    width: 100%;
    grid-template-columns: 35px auto;
    margin-bottom: 10px;
}

.contact-icon {
    width: 13px;
}

.location .contact-icon {
    margin-top: 3px;
}

.phone .contact-icon {
    margin-top: 4px;
}

.email .contact-icon {
    margin-top: 5px;
}

.contact-text {
    line-height: 1.6;
}

.phone .contact-text, .email .contact-text {
    font-size: 0.9rem;
}

.address {
    padding-right: 50px;
} 