.features {
    display: grid;
    justify-content: center;
    grid-template-columns: 85%;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 6rem;
    padding: 30px 0;
}

.feature-card {
    text-align: center;
}

.feature-img {
    height: 70px;
}

.feature-title {
    padding: 2rem 0 1rem;
}