.stay-productive {
    padding: 140px 7.5%;
}

.stay-productive-img {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 600px;
}

.stay-productive-title {
    padding: 2.5rem 0 1rem;
    text-indent: 3px;
}

.stay-productive-description {
    line-height: 1.6rem;
    padding-bottom: 1rem;
}

.stay-productive-link {
    color: var(--cyan);
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--cyan);
}

.link-text {
    font-size: 0.9rem;
    margin-right: 4px;
}