@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

:root {
  --cyan: #65e2d9;
  --blue: #339ecc;
  --light-red: #ff4242;
  --header--email-bg: #1c2431;
  --main-bg: #181f2a;
  --footer-bg: #0b1523;
  --testimonials-bg: #202a3c;
  --white: #fff;

  --raleway: "Raleway", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

body {
  font-family: var(--open-sans);
  color: var(--white);
}

button, a, h1, h2, h3 {
  color: inherit;
  font-family: var(--raleway);
}

h2 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

.get-started-btn {
  font-size: 1rem;
  display: block;
  margin: auto;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  font-weight: 700;
  padding: 1.1rem 0;
  border: 0;
  border-radius: 30px;
  box-shadow: 0px 0px 8px 1px #00000064;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
